body {
    background: radial-gradient(circle, rgb(12, 28, 115) 25%, rgb(13, 12, 12) 60%);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    text-align: center;
}

.direction button {
    font-family: cursive;
    font-weight: bold;
    background-color: #ffffff44;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0 10px;
}

.direction button:hover {
    background-color: #ffffff;
}

.item {
    border-radius: 15px;
    width: 110px;
    height: 120px;
    background: #283883;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: -1;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
    scroll-snap-align: start;
}

.item .avatar {
    display: block;
    margin-left: auto;
    width: auto;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 15px #7e878d;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    max-width: 70px;
}

#formList>h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #f8f8f8;
    margin: 20px 0 40px;
}

.item .content {
    font-family: "Quicksand", sans-serif;
}

.post-name {
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #ffffff;
}

#list {
    display: flex;
    width: max-content;
}

#formList {
    width: 500px;
    max-width: 100%;
    overflow: auto;
    margin: 15px auto 30px;
    scroll-behavior: smooth;
    scroll-snap-type: both;
    background: radial-gradient(circle, rgb(12, 28, 115) 25%, rgb(13, 12, 12) 60%);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border-radius: 15px
}

#formList::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1024px) {
    .item {
        width: calc(25vw - 20px);
    }

    .direction {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .item {
        width: calc(25vw - 20px);
    }

    .direction {
        display: none;
    }
}